* {
  color: var(--very-light-gray);
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background: var(--very-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}
