.card__button {
  background: var(--very-light-gray);
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 32px;
  text-transform: capitalize;
  transition: background 1s;
}

.card__button-sedans {
  color: var(--bright-orange);
}

.card__button-suvs {
  color: var(--dark-cyan);
}

.card__button-luxury {
  color: var(--very-dark-cyan);
}

.card__button-sedans:hover,
.card__button-sedans:active {
  color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);
  background: var(--bright-orange);
}

.card__button-suvs:hover,
.card__button-suvs:active {
  color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);
  background: var(--dark-cyan);
}

.card__button-luxury:hover,
.card__button-luxury:active {
  color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);
  background: var(--very-dark-cyan);
}
